// STYLE ASSETS IMPORTS
@import "@styles/navbar.scss";

// COLORS
$Hour-minute-bckgrd: rgb(231, 229, 229);
$Hour-minute-bckgrd-hover: rgb(212, 208, 208);

// MIXINS
@mixin hour-minute($opacity, $visibility) {
  padding: 5px 0;
  height: 180px;
  width: 100px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  background-color: $Hour-minute-bckgrd;
  opacity: $opacity;
  visibility: $visibility;
  position: absolute;
  top: 90px;
  border-radius: 5px;
  font-size: 2rem;
}

.Alarm-settings {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  max-width: 600px;

  h1 {
    font-size: 3rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;

    .inputs {
      display: flex;
      width: 100%;
      gap: 10px;

      input[type="text"] {
        all: unset;
        border: 1px solid black;
        text-align: center;
        width: 50%;
        padding: 5px;
        font-size: 2rem;
        border-radius: 10px;
      }
      #input-error {
        border: 2px solid red;
      }
    }

    .error {
      margin: 10px 0;
      text-align: center;
      color: red;
      font-size: 2rem;
    }

    button[type="submit"] {
      @include HAndDBtn(black, 2rem);

      &:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
    }
  }
}

.inputTimeContainer {
  display: flex;
  gap: 20px;
  position: relative;

  .hoursWrapper,
  .minutesWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  }

  h2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
    }

    &:hover {
      cursor: pointer;
    }
  }
  .hours,
  .minutes {
    @include hour-minute(0, hidden);

    p[id*="m"],
    p[id*="h"] {
      &:hover {
        background-color: $Hour-minute-bckgrd-hover;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }

  .hoursVisible,
  .minutesVisible {
    @include hour-minute(1, visible);

    p[id*="m"],
    p[id*="h"] {
      &:hover {
        background-color: $Hour-minute-bckgrd-hover;
      }
    }

    &:hover {
      cursor: pointer;
    }

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.prevAlarmDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  button {
    @include HAndDBtn(black, 1rem);

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}

.alarmInfo {
  width: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;

  p {
    font-size: 2rem;
  }

  button {
    @include HAndDBtn(black, 2rem);

    &:hover {
      cursor: pointer;
      transform: scale(1.03);
    }
  }
}

// DARK MODE
.Alarm-settings.dark {
  form {
    .inputs {
      input[type="text"] {
        border: 1px solid orange;
      }
    }

    button[type="submit"] {
      @include HAndDBtn(orange, 2rem);

      &:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
    }
  }

  .inputTimeContainer {
    .hoursWrapper,
    .minutesWrapper {
      h2 {
        img {
          filter: invert(79%) sepia(41%) saturate(5434%) hue-rotate(358deg)
            brightness(100%) contrast(108%);
        }
      }
    }
  }

  .prevAlarmDiv {
    .dark {
      @include HAndDBtn(orange, 1rem);

      &:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
    }
  }
  .alarmInfo {
    button {
      @include HAndDBtn(orange, 2rem);

      &:hover {
        cursor: pointer;
        transform: scale(1.03);
      }
    }
  }
}
