// MIXINS
@mixin dialWrap($alpha, $beta) {
  width: $alpha;
  height: $alpha;
  position: absolute;
  top: $beta;
  left: $beta;
  border-radius: 50%;
  background-color: transparent;
  z-index: 10;
}

@mixin dialHands($alpha, $beta, $gama, $delta) {
  width: $alpha;
  height: $beta;
  background-color: $gama;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: $delta;
}

.mainBody {
  width: 600px;
  height: 600px;
  border: 5px solid black;
  border-radius: 50%;
  position: relative;
}

// DIAL HANDS
.hourHandWrap {
  @include dialWrap(59.32%, 20.3%);
  .hourHand {
    position: relative;
    .hourH {
      @include dialHands(4px, 175px, black, 10);
    }
  }
}

.minuteHandWrap {
  @include dialWrap(67.8%, 16.1%);
  .minuteHand {
    position: relative;
    .minuteH {
      @include dialHands(4px, 200px, black, 10);
    }
  }
}

.secondHandWrap {
  @include dialWrap(67.8%, 16.1%);
  .secondHand {
    position: relative;
    .secondH {
      @include dialHands(3px, 200px, red, 1);
    }
  }
}
