// MIXINS
@mixin dialWrap($alpha, $beta) {
  width: $alpha;
  height: $alpha;
  position: absolute;
  top: $beta;
  left: $beta;
  border-radius: 50%;
  background-color: transparent;
  z-index: 10;
}

@mixin dialHands($alpha, $beta, $gama, $delta) {
  width: $alpha;
  height: $beta;
  background-color: $gama;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: $delta;
}

.mainBody {
  width: 600px;
  height: 600px;
  border: 5px solid black;
  border-radius: 50%;
  position: relative;
}

// ALARM WARRNING
.alarmWarrning {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  color: red;
  text-transform: uppercase;
  background-color: rgba($color: #000000, $alpha: 0.8);
  padding: 20px;
  border-radius: 25px;
  font-size: 5rem;
  animation-name: alarm;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

// DIAL HANDS
.hourHandWrap {
  @include dialWrap(59.32%, 20.3%);
  .hourHand {
    position: relative;
    .hourH {
      @include dialHands(4px, 175px, black, 10);
    }
  }
}

.minuteHandWrap {
  @include dialWrap(67.8%, 16.1%);
  .minuteHand {
    position: relative;
    .minuteH {
      @include dialHands(4px, 200px, black, 10);
    }
  }
}

.secondHandWrap {
  @include dialWrap(67.8%, 16.1%);
  .secondHand {
    position: relative;
    .secondH {
      @include dialHands(3px, 200px, red, 1);
    }
  }
}

// DAY AND DATE ON A DIAL
.dayDate {
  width: 145px;
  height: 50px;
  border: 2px solid black;
  position: absolute;
  top: 270px;
  left: 380px;
  display: flex;
  text-align: center;
  font-size: 2.5rem;
  border-radius: 5px;

  .day {
    flex: 2;
    border-right: 2px solid black;
    height: 100%;
    display: grid;
    place-items: center;
  }
  .date {
    flex: 1;
    height: 100%;
    display: grid;
    place-items: center;
  }
}

// CONCENTRIC CIRCLE ON A DIAL
.concentric {
  width: 85%;
  height: 85%;
  border: 1px solid black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// CENTRAL POINT
.centralPoint {
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
}

// HOURS
.hour {
  font-size: 3rem;
  font-weight: bolder;
  position: absolute;
  padding: 5px;
  background-color: white;
  border-radius: 50%;
}
.hour1 {
  top: 45px;
  left: 415px;
}
.hour2 {
  top: 135px;
  left: 500px;
}
.hour3 {
  top: 260px;
  left: 540px;
}
.hour4 {
  top: 400px;
  left: 495px;
}
.hour5 {
  top: 481.5px;
  left: 410px;
}
.hour6 {
  top: 512.5px;
  left: 280px;
}
.hour7 {
  top: 483px;
  left: 155px;
}
.hour8 {
  top: 400px;
  left: 55px;
}
.hour9 {
  top: 270px;
  left: 20px;
}
.hour10 {
  top: 135px;
  left: 50px;
}
.hour11 {
  top: 40px;
  left: 150px;
}
.hour12 {
  top: 10px;
  left: 270px;
}

// ANIMATIONS
@keyframes alarm {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

// DARK MODE
.mainBody.dark {
  border: 5px solid orange;

  .alarmWarrning {
    background-color: rgba($color: #ffffff, $alpha: 0.8);
  }

  .hourHandWrap {
    .hourHand {
      .hourH {
        @include dialHands(4px, 175px, orange, 10);
      }
    }
  }

  .minuteHandWrap {
    .minuteHand {
      .minuteH {
        @include dialHands(4px, 200px, orange, 10);
      }
    }
  }

  .dayDate {
    border: 2px solid orange;

    .day {
      border-right: 2px solid orange;
    }
  }

  .concentric {
    border: 1px solid orange;
  }

  .centralPoint {
    background-color: orange;
  }

  .hour {
    background-color: black;
  }
}
