// FONT STYLE IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Aldrich&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Stint+Ultra+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");

// STYLE IMPORTS
@import "@styles/alarm-settings.scss";
@import "@styles/media-queries.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// BODY STYLE
body {
  height: 100vh;
  display: grid;
  place-items: center;
}

.doc-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  padding: 50px 0;
  margin: 0 auto;
}

main {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.dark {
  color: orange;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  border: 2px solid rgb(170, 170, 170);
  background-color: rgb(170, 170, 170);
  border-radius: 10px 0 0 10px;

  &:active {
    outline: 1px ridge red;
    cursor: grab;
  }
}
